@import 'nav_links';

.navBar {

  .navigation {
    display: none;
    line-height: 2;
  }

  @include media {
    .navigation {
      display: flex;
      flex-direction: column-reverse;
      align-items: end;
    }
    .navigationMobile{
      display: none;
    }
  }


  .navigationMobile {
    background-color: #b3d4fc;
    padding: 5px;
    line-height: 1.5;

    .iconHamburger {
      position: absolute;
      right: 5%;
      top: 5%;
      font-size: 2rem;
      cursor: pointer;
    }

    .navigationMobile__logo {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: #ffffff url("/asets/IconTshirt.png") no-repeat center;
      background-size: 40px 40px;
    }
  }
}




