.contactForm{
  display: flex;
 justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}
.contactForm__label{
  width: 45%;
  font-size: clamp(0.7em, 1vw, 1em)
}
.contactForm__textInput{
  width: 100%;
  border: none;
background-color: rgba(0,0,0,0);
  border-bottom: 1px solid $color-grey-normal;
}

.contactForm__textInputErrors{
  width: 45%;
  height: 2vh;
  padding: 0.5em 0;
  color: #FF0000FF;
  font-size: clamp(0.4em, 0.5vw, 0.7em);
}


.contactForm__labelTextarea{
  font-size: clamp(0.7em, 1vw, 1em);
  width: 100%;
}
.contactForm__textarea{
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid $color-grey-normal;
  width: 100%;
}
.contactForm__textareaErrors{
  width: 100%;
  height: 2vh;
  color: #FF0000FF;
  font-size: clamp(0.4em, 0.5vw, 0.7em);
  padding: 0.5em 0;
}

.contactForm__button{

  padding: $space-small $font-size-large;
  font-size: $font-size-small;
  border: 1px solid $color-grey-normal;
margin-left: auto;
  &:first-letter{
  text-transform: uppercase;
}
}

.contactForm__errorUnderline{
  border-bottom: 1px solid #FF0000FF;
}