.oddajThnx__container{
  //margin: $space-large 0;
}
.oddajThnx__h2{
}
.oddajThnx__decoration{

}

@include media{

  .oddajThnx__container{
       position: absolute;
    top: 30%;
    left: 10%;
  }
}