.oddajForm1__inputsContainer {
  display: flex;
  flex-direction: column;
}

.oddajForm1__label {
  width:90%;
 margin-top: 0.5em;

  &:first-letter {
    text-transform: uppercase;
  }
}

.oddajForm1__radio {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
  margin-right: 2em;
  -webkit-appearance: none;
  cursor: pointer;
  &:checked {
    background-color: $color-yellow;
  }
}

.oddajForm1__button {
  width: 30%;
  background-color: $color-grey-light;
  padding: 0.5em 0;
}

@include media {
  .oddajForm1__inputsContainer{
    height: 80%;
    }
  .oddajForm1__label{
    padding: 0;
  }
.oddajForm1__radio{
 margin-right: 1em;
  width: 1em;
  height: 1em;

}
  .oddajForm1__button{
    width: 15%;
    background-color: rgba(0,0,0,0);
    border: 1px solid black;
    margin-bottom: 2em;
  }
}