.oddajForm1__inputs {
  margin: $space-large 0;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.oddajForm1__label {
  margin-top: 0.5em;
  &:first-letter {
    text-transform: uppercase;
  }
}

.oddajForm1__radio {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
  margin-right: 2em;
  -webkit-appearance: none;
  cursor: pointer;
  &:checked {
    background-color: $color-yellow;
  }
}

@include media {
  .oddajForm1__inputs {
   padding-bottom: 2rem;
  margin: 0;
    height: 50vh;
  }
  .oddajForm1__label {
    padding: 0;
    margin-top: $space-large;
  }
}