.oddajForm__inputs {
  padding-bottom: $space-large;
  height: 63vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.oddajForm1__input{
  margin-top: $space-large;
}

.oddajForm1__radio {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
  margin-right: 2em;
  -webkit-appearance: none;
  &:checked {
    background-color: $color-yellow;
  }
}
