@import "../../title";
@import "../section_1";

.headerSpacer {
  height: 5rem;
}

.wrapper--header {
}

.header__image{
  display: none;
}
.header__right {
  font-weight: $semiBold;
  width: 100%;
}

.header__btns {
  display: flex;
  justify-content: space-between;
  padding: 2em $space-small;
}
.header__link{
  width: 40%;
}
.header__btn{
  width: 100%;
}

@include media {

  .headerSpacer {
    height: 3rem;
  }

  .wrapper--header {
    display: flex;
    height: 60vh;
  }
  .header__image {
    display: block;
    width: 50%;
    //height: 70vh;
    background-image: url("/asets/Hero Image.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__container {
    display: flex;
    flex-direction: column;
  }

  .header__btns {
    padding: 2em $space-large
  }
}

@include media__bigSize {
  .underline {
    background-image: url("/asets/Decoration@2x.png");
  }
  .header__image{
    background-image: url("/asets/Hero Image@2x.png");
  }
}





