.squares {
  display: flex;
  justify-content: space-around;
  background-color: $color-white;
  outline: 1em solid $color-white;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $semiBold;
  font-size: $font-size-small;
  color: $color-white;
  background-color: $color-grey-normal;
  width: 1.5em;
  height: 1.5em;
}

.square--BacgroundColor {
  background-color: $color-yellow;
}

.square__p {
  display: none;
}

@include media {
  .squares {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
  }

  .square {
    color: $color-black;
    background-color: $color-opacity;
    width: clamp(6em, 9vw, 85px);
    height: clamp(6em, 9vw, 85px);
    font-size: $font-size-superSmall;
    rotate: 45deg;
    border: 1px solid $color-black;
  }
  .square__text {
    rotate: -45deg;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .square__h3 {
    text-align: center;
  }

  .square__p {
    display: block;
    text-align: center;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}