@import "oddaj_squares";

.wrapper--oddajHeader {
  background-color: $color-grey-normal;
  padding-top: $space-large * 2;
}

//.oddajHeader__backgroundImage {
//  display: none;
//}

.oddajHeader__rightContainer {
  display: flex;
  flex-direction: column;
}

.oddajHeader__titleH2 {
  text-align: left;
}

.oddajHeader__p {
  font-weight: $semiBold;
  padding: $space-large 0 3em 0;
  &:first-letter{
    text-transform: uppercase;
  }
}


@include media {
  .wrapper--oddajHeader{
    display: flex;
    background-color: white;
    height: 60vh;
    padding: 0;
  }

  .oddajHeader__backgroundImage {
    display: block;
    width: 50%;
    background-image: url("../../../../asets/Header-Form-Background.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .oddajHeader__rightContainer {
    width: 50%;
    padding: 0 2em;
    box-shadow: -40px -40px 50px 20px rgba(255, 255, 255, 0.8);
  display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .oddajHeader__titleH2 {
    text-align: center;
  }
  .oddajHeader__headerUnderline {
  }
  .oddajHeader__p {
    text-align: center;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

@include media__navbar{
  .navSpacer{
    height: 3rem;
  }
}


@include media__bigSize {
  .oddajHeader__backgroundImage {
    background-image: url("../../../../asets/Header-Form-Background@2x.png");
  }
}