@import "oddaj_forms/oddaj_form_top";
@import "oddaj_forms/oddaj_form1";
@import "oddaj_forms/oddaj_form2";
@import "oddaj_forms/oddaj_form3";
@import "oddaj_forms/oddaj_form4";
@import "oddaj_forms/oddaj_summary";
@import "oddaj_forms/oddaj_thnx";


.wrapper--oddajMain{
}
.oddajMain {
  padding-left: 1em;
  padding-top: 1em;
}

@include media {
 .wrapper--oddajMain{
    background-image: url("../../../asets/Background-Form.png");
   background-position: center;
    background-size: cover;
   background-repeat: no-repeat;
   height: 80vh;
   padding: 0;
  }
  .oddajMain {
    padding-left: 2em;
height: 100%;
    position: relative;
  }
}

@include media__bigSize{
  .wrapper--oddajMain{
    background-image: url("../../../asets/Background-Form@2x.png");
  }
}