@import 'nav_links';

.navigation {
  display: none;
}

.navigationMobile {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1.5;
  padding: $space-large;
  background-color: $color-white;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.navigationMobile--open{
  display: block;
}

.navigationMobile__tshirt {
  width: 3em;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  outline: 2px solid $color-white;
  border: 1px solid $color-black;
}

.iconHamburger, .iconCross {
  font-size: 2rem;
  cursor: pointer;
}
.iconCross{
position: absolute;
  font-size: 3rem;
  top: 0;
  right: 0
}

@include media{
  .navigationMobile{
    padding: $space-small;
  }
  .navigationMobile__tshirt{
    width: 2em;
  }

  .iconHamburger{
    top: 15px;
  }
}

@include media__navbar {
  .wrapper--navigation{
    padding: 0;
  }
  .navigation {
    height: 4rem;
    max-width: 1350px;
    width: 100%;
    background-color: $color-white;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    z-index: 1;
    padding: 0 $space-large;
  }
  .navigationMobile {
    display: none;
  }
}
