@import 'nav_links';

.navigation {
  display: none;
}

.navigationMobile {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1.5;
  padding: 1rem;
  background-color: $color-white;
  z-index: 1;
}
.navigationMobile__tshirt {
  width: 3em;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  outline: 2px solid $color-white;
  border: 1px solid $color-black;
}

.iconHamburger {
  position: absolute;
  right: 12%;
  top: 25px;
  font-size: 2rem;
  cursor: pointer;
}

@include media__navbar {
  .navigation {
    height: 3rem;
    max-width: 1350px;
    width: 100%;
    background-color: $color-white;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    z-index: 1;
  }
  .navigationMobile {
    display: none;
  }
}
