@import 'nav_links';

.navigation {
  display: none;
  line-height: 2;
}

.navigationMobile {
  background-color: #b3d4fc;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1.5;
  padding: 1rem;
  border-left: 10px solid #b3d4fc;
}
.navigationMobile__tshirt {
  width: 3em;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  outline: 2px solid white;
}

.iconHamburger {
  position: absolute;
  right: 12%;
  top: 25px;
  font-size: 2rem;
  cursor: pointer;
}

@include media {
  .navigation {
    width: 90%;
    height: 3rem;
    max-width: inherit;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    z-index: 99;
  }
  .navigationMobile {
    display: none;
  }
}
