@import "who_we_help_table";

.wrapper--whoWeHelp {
  display: flex;
  flex-direction: column;
}
.whoWeHelp__headerUnderline{
  background-size: 15%;
}




.whoWeHelp__columnsContainer {
  margin: 2em 0;
  display: flex;
}

.whoWeHelp__columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.whoWeHelp__button {
  background-color: #b3d4fc;
  border-radius: 50%;
  height: clamp(90px, 25vw, 150px);
  width: clamp(90px, 25vw, 150px);
  line-height: 1.4;
  font-weight: $semiBold;
  font-size: clamp(0.6em, 2vw, 1.5em)

}

.whoWeHelp__paragraph {
  text-align: center;
  margin: 1em auto 2em;
  line-height: 1.4;
  width: 90%;
  height: 6em;
  font-size: 1em
}

@include media {

  .underline {
    display: block;
  }
  .whoWeHelp__columnsContainer {
    display: flex;
    width: 70%;
    margin: 1em auto;
  }
  .whoWeHelp__columnContainer {
  }
  .whoWeHelp__button {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    &:focus {
      border: 1px solid $color-grey-light;
    }
  }
  .whoWeHelp__paragraph {
    width: 60%;
    margin: 0 auto;
  }

}
