@import "../title";
@import "section_1";

.headerSpacer {
  height: 6rem;
}
.header__image{
  display: none;
}

.header__right {
  font-weight: $semiBold;
}

.header__btns {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.header__link{
  width: 40%;
}
.header__btn{
  width: 100%;
}

@include media {

  .headerSpacer {
    height: 4rem;
  }

  .wrapper--header {
    display: flex;
    height: 60vh;
    padding-left: 0;
  }
  .header__image {
    width: 50%;
    display: block;
    object-fit: cover;
    object-position: right;
  }
  .header__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__container {
    display: flex;
    flex-direction: column;
  }
}

@include media__bigSize {
  .header__image{
    background-image: url("/asets/Hero Image@2x.png");
  }
}





