
.wrapper--simpleSteps {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.simpleSteps__headerUnderline {
  background-size: 15%;
}


.simpleSteps__columnsContainer {
  display: flex;
  padding: 2em 0;
}

.simpleSteps__columnContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simpleSteps__logo {
  width: 3em;
}

.simpleSteps__h3 {
  margin-top: 1.5em;
  line-height: 1.2;
  text-align: center;

  &::first-letter {
    text-transform: uppercase;
  }
}

.simpleSteps__paragraph {
  display: none;
}


.btnBig--simpleSteps {
  align-self: center;
  margin-bottom: 2rem;
  padding: 0 2em;
}

@include media {
  .simpleSteps__h2 {
    margin-bottom: 1em;
  }
  .underline {
    display: block;
  }
  .simpleSteps__columnsContainer {
    margin: 1em 0;
  }
  .simpleSteps__h3 {
    font-size: 0.6em;
    padding-bottom: 0.5em;
    //height: 45%;
    width: 100%;

    &:after {
      content: '';
      display: block;
      margin-bottom: 3%;
      margin-left: 40%;
      text-align: center;
      width: 20%;
      height: 1px;
      background-color: black;
      margin-top: 0.5em;
    }

  }
  .simpleSteps__paragraph {
    display: block;
    text-align: center;
    font-size: 0.5em;
  }
}

@include media__bigSize {
  .underline {
    background-image: url("/./asets/Decoration@2x.png");
  }
}