
.wrapper--contact {
  background: #b3d4fc;
  width: 100%;
  display: flex;
}
.contact__containerLeft{
  width: 60%;
  background-color: #c6ff6e;
}
.contact__containerRight {
  padding: 1rem;
  width: 40%;
}

.contact__imageMobile {
  width: 3em;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  outline: 2px solid white;
}

.contact__containerInfo {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 0.4em;
  padding-top: 0.5em;
}

.contact__h2 {
  flex-grow: 0.3;
  font-size: 0.9em;
  font-weight: $semiBold;

  &::first-letter {
    text-transform: uppercase;
  }
}

.contact__logo {
  width: 1.4em;
}

@include media {
  .contact__containerRigh{

  }
  .contact__containerInfo{
    display: flex;
    flex-direction: column;
  }
  .contact__imageMobile{
    display: none;
  }
  .contact__h2{

  }
  .contact__logo{
    display: none;
  }
}




