:root {
  font-family: $font-family-Open-Sans;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  line-height: 1.2;
}

h1 {
  font-size: clamp(1.3rem, 2vw, 3.5rem);
}

h2 {
  font-size: clamp(1.3rem, 2vw, 3.5rem);
}

h3 {
  font-size: clamp(1rem, 2vw, 3.5rem);
}

button {
  font-weight: $light;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  border: none;
  width: 100%;
  //border: 1px solid black;
}
b {
  font-weight: $semiBold;
}

//.underline{
//  width: 100px;
//  height: 10px;
//  background: url("/asets/Decoration@2x.png") no-repeat center;
//  background-size: 100px 20px;
//}