:root {
  font-family: $font-family-Open-Sans;
  font-size: $font-size-middle;
  line-height: 2;
}

button {
  font-weight: $light;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  border: none;
  width: 100%;
  //border: 1px solid black;
}
