$font-family-Open-Sans: 'Open Sans', sans-serif;
$font-family-Merriweather: 'Merriweather', serif;

$light: 300;
$regular: 400;
$semiBold: 600;

$color-white:#F0F1F1;
$color-green_dark: #5E5322;
$color-yellow: #FAD648;
$color-grey-light: #737373;
$color-grey-dark: #3C3C3C;
