.listItems {
  padding: 0.5em;
  @include media {
    display: flex;
  }
}

.link {
  text-decoration: none;
}


.listItem {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: $semiBold;

  &:hover {
    color: #5E5322;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}


.logListItems {
  padding: 0.5em;
  border-top: 1px solid black;
  width: 50%;

  @include media {
    display: flex;
    border-top: none;
    flex-direction: row-reverse;
  }

  .logListItem {

  }
}
