@import "three_columns";



.wrapper--header {
}

.empty {
  height: 100px;
}

.header__right {
  font-weight: $semiBold;
  display: flex;
}

.header__h1 {
  text-align: center;
  line-height: 1.2;

  &::first-letter {
    text-transform: uppercase;
  }
}

.header__image {
  display: none;
}

.underline {
  display: none;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

.btnBig {
  display: inline-block;
  font-size: clamp(0.7rem, 2vw, 1.5rem);
  flex-basis: 35%;
}

@include media {

  .wrapper--header {
    display: flex;
    margin-top: 1em;
  }
  .header__image {
    display: block;
    width: 50%;
    height: 70vh;
    background-image: url("/asets/Hero Image.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__container {
    display: flex;
    flex-direction: column;
  }
  .header__h1 {
    //margin: 30% 0 2% 0;
    font-size: clamp(1em, 2vw, 2em);
  }

  .underline {
    display: block;
    width: 30%;
    height: 30px;
    background: url("/asets/Decoration.png") no-repeat center;
    background-size: 100px 20px;
    align-self: center;
  }
  .btn_container {
    width: 80%;
    align-self: center;
  }
  .btnBig {
    padding: 0.2em 0.2em;
    display: block;
    flex-basis: 45%;
    border: 1px solid black;
  }
}

@include media__bigSize {
  .underline {
    background-image: url("/asets/Decoration@2x.png");
  }
  .header__image{
    background-image: url("/asets/Hero Image@2x.png");
  }
}





